<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="sqlserver" connectionString="Data Source=.;Initial Catalog=Assistant;User ID=sa;Password=123456;" />
  </connectionStrings>
  <appSettings>
    <!--默认用户名-->
    <add key="autouser" value="system" />
    <!--用户名-->
    <add key="user" value="system" />
    <!--密码-->
    <add key="password" value="e10adc3949ba59abbe56e057f20f883e" />
    <!--合同摘要-->
    <add key="FileRemark" value="textfile.txt" />
	<!--案卷摘要-->
	<add key="TreeRemark" value="textfiles.txt" />
    <!--执行的合同命令文件-->
    <add key="filename" value="pythonfile.py" />
	<!--执行的案卷命令文件-->
    <add key="filetreename" value="pythontree.py" />
	  
    <!--文件目标路径-->
    <add key="filesurl" value="E:\NewFiles" />
    <!--文件夹目标路径-->
    <add key="filetreeurl" value="E:\NewFile" />
    <add key="autoedit_path" value="C:\WorkSpace\AutoEdit\AutoEdit.exe" />
    <add key="sourcegraph_url" value="C:\WorkSpace\tobacco-master\zhishitupu\index.html" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.116.0" newVersion="1.0.116.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>