<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <!--文件夹目标路径-->
		<add key="api_path" value="C:\WorkSpace\tobacco-master\zhishitupu" />
		<!--
		<add key="api_path" value="C:\Users\t77yq\source\repos\WpfApp2\WpfApp2" />
        -->
    </appSettings>
</configuration>